################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/profiling
/3drenderer_2/x64
/.vs/3drenderer_2
